.bts{
    width: 200px;
    height:45px;
    background-color: aquamarine;
    position:fixed;
    top: 20%;
    left:10%;
    font-size: larger;

}
p{
    font-size: 50px;
    font-style: italic;
    color: brown;
    position:fixed;
    top:5%;
    left:10%;
}
.change{
    background-color:aquamarine;
    position:fixed;
    top:30%;
    left:10%;
    width: 200px;
    height:45px;
    font-size: 100%;

    
}
h2{
    font-size: 50px;
    font-style: italic;
    color: brown;
    position:fixed;
    top:5%;
    left:50%;

}
.change1{
    background-color:aquamarine;
    position:fixed;
    top:20%;
    left:50%;
    width: 200px;
    height:45px;
    font-size: 100%;

}
.h3{
   
    font-size: 50px;
    font-style: italic;
    color: brown;
    position:fixed;
    top:40%;
    left:10%;
 
}
.change2{
    background-color:aquamarine;
    position:fixed;
    top:55%;
    left:10%;
    width: 200px;
    height:45px;
    font-size: 100%;

}
.h4{
    font-size: 50px;
    font-style: italic;
    color: brown;
    position:fixed;
    top:40%;
    left:50%;

}
.change3{
    background-color:aquamarine;
    position:fixed;
    top:55%;
    left:50%;
    width: 200px;
    height:45px;
    font-size: 100%;

}
.h5{
    font-size: 50px;
    font-style: italic;
    color: brown;
    position:fixed;
    top:60%;
    left:10%;
 
}
.c4{
    background-color:azure;
    position:fixed;
    top:80%;
    left:10%;
    width: 200px;
    height:35px;
    font-size: 100%;


}
.h6{
    font-size: 50px;
    font-style: italic;
    color: brown;
    position:fixed;
    top:60%;
    left:50%;

}
.change5{
    background-color:azure;
    position:fixed;
    top:80%;
    left:50%;
    width: 200px;
    height:45px;
    font-size: 100%;

}
